/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilizando o botão */
#meuBotao {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adicionando uma transição suave */
}


#meuBotao:hover {
  background-color: #ffffff;
  color: #000000;
}
body {
  font-family: Arial, sans-serif;
  
}
/* Navbar */
nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  cursor: pointer;
  padding: 5px;
  user-select: none;
}

.nav-toggle-label span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: transform 0.3s ease;
}

/* Para mudar a cor dos textos dos links na barra de navegação */
nav ul li a {
  color: #000000; 
  text-decoration: none; /* Removendo o sublinhado padrão dos links */
}

/* Estilo de hover (quando passa o mouse) */
nav ul li a:hover {
  color: #000000; 
  background-color: #ffffff;
}
.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #555;
}

/* Media Query para Dispositivos Pequenos */
@media screen and (max-width: 1300px) {

  .nav{
    height: 50px;
    width: 500px;
    
  }
  .conteiner{
    height: 100vh;
  }
  h1 {
    font-size: 70px;
  }
  .conteiner img{
    max-width: 90%;
  }

  h3{
    font-size: 50px;
  }
  p {
    text-align: justify;
    font-size: 30px;
  }
  .nav-toggle {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu li {
    margin: 10px 0;
  }

  .menu a {
    display: block;
    padding: 10px 30px;
  }

  #nav-toggle:checked + .nav-toggle-label span {
    transform: rotate(45deg);
  }

  #nav-toggle:checked + .nav-toggle-label ~ .menu {
    display: flex;
    
  }

 
  
}
